.footer{
    background-color: #333333;
    display: flex;
    height: 16vw;
    justify-content: flex-start;
    z-index: 3;
}
.footer .logotipo{
    display: block;
    margin-top: -6vw;
    width: 6vw;
    padding: 0 0px 0px 9.2vw;
}   
.footer .menu1{
    color: #999999;
    padding: 3vw 0px 0px 4.3vw;
}
.footer .menu2{
    color: #999999;
    padding: 3vw 0px 0px 4.3vw;
}
.footer .menu1 p b,.footer .menu2 p b, .footer .menu3 p b {
    color: #999999;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 1.2vw;
    text-decoration: none;
}
.footer .menu1 a, .footer .menu2 a{
    display: block;
    color: #9A9999;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
    text-decoration: none;
}
.footer .menu3{
    color: #9A9999;
    margin-right: 0;
    padding: 3vw 7.1vw 0 0;
    margin: 0 0 0 auto;
}
.footer .menu3 a img{
    height: 1.8vw;
    margin-right: 0.8vw;
}
.footer .menu3 a{
    padding: 0 0.2vw 0 0;
}