.feedback{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-image: linear-gradient(to left, #FD6B5E, #fc9187d5, #FD6B5E);
    height: 36vw;
}
.feedback .teste{
    display: flex;
}
.feedback .elementos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-items: center;
}
.feedback .feed-cliente{
    z-index: 1;
    background-color: #ffdbb9;
    width: 18vw;
    margin: 1.5vw;
    height: 24.3vw;
    border-radius: 1vw;
}
.feedback .feed-cliente .dados{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    height: 2vw;
    padding: 0 1vw 0 1vw;
    margin: 0.3vw;
}
.feedback .feed-cliente .dados h2, .feedback .feed-cliente .dados .avaliacao{
    font-size: 1.2vw;
    color: #ff6e60;
    font-weight: 800;
}
.feedback .feed-cliente .cidade{
    font-weight: 400;
    color: #e9ac94;
    font-size: 0.9vw;
    padding: 0 0 0 0.5vw;
    margin: 0;
}
.feedback .feed-cliente .texto{
    font-weight: 400;
    color: #ff6e60;
    font-size: 1vw;
    padding: 0 0.5vw 0 0.5vw;
}
.feedback .feed-cliente .img{
    width: 18vw;
    border-radius: 1vw 1vw 0 0;
}
.feedback .button{
    color: #FD6B5E;
    background-color: #FDD9B9;
    padding: 0.6vw 1.8vw;
    font-size: 1.6vw;
    text-decoration: none;
    font-weight: 700;
    border-radius: 1.6vw;
}
.feedback .button{
    color: #fd6b5ed8;
    background-color: #FDD9B9;
}