.container-CAD{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container-CAD .corpo-CAD{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background: linear-gradient(180deg, rgba(230,170,146,1) 33%, rgba(232,146,131,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-CAD .corpo-CAD .card-CAD{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:32vw;
    min-height: 80vh;
    height: 100%;
    background-color: white;
    border-radius: 3vw;
    margin: 2% 0 2% 0;
}
.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .botao-sucesso{
    color: white;
    background-color: rgba(232,146,131,1);
    width: 7vw;
    height: 5vh;
    border: none;
    border-radius: 5vw;
    padding: 1vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    font-size: 1vw;
    font-weight: 700;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: auto;
}
.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .botao-sucesso:hover{
    color: #FCD9B9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
    background-color: #fd6b5e;
    transition: .3s;
    cursor: pointer;
    transform: translateY(-1vh);
}

.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD h1{
    font-size: 1.9vw;
    margin-right: auto;
    margin-top: 2vw;
}
.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .sub-titulo-CAD{
    font-weight: normal;
    font-size: 1vw;
    margin-left: auto;
}
.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 22% 0 22%;
    margin-top: 5%;
}
.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .input-codigo-CAD{
    width: 24vw;
    height: 5vh;
    border:none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.4vw;
    text-indent: 0.5vw;
    font-size: 0.9vw;
    color: #888888;

}
.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .input-data-CAD{
    width: 10vw;
    height: 5vh;
    border:none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.4vw;
    text-indent: 0.8vw;
    font-size: 0.9vw;
    color: #888888;
    margin-left: auto;

}
.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .input-cpf-CAD{
    width: 10vw;
    height: 5vh;
    border:none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.4vw;
    text-indent: 0.8vw;
    font-size: 0.9vw;
    color: #888888;
    margin-left: auto;

}
.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .texto-input-CAD {
    font-weight: normal;
    font-size: 1vw;
    margin-bottom: -15px;
    margin-right: auto;
}
.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .container-ultimos-inputs{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}
.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .container-ultimos-inputs .data-nascimento{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .container-ultimos-inputs .cpf {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.esqueceu-senha{
    color:tomato;
    font-size: 1vw;
    float: right;
    margin-top: 20px;
    margin-right: -17vw;
}
.container .corpo .card .conteudo-card .form-codigo span .icone-interrogacao{
    width:0.8vw;
    opacity: 0.4;
}
.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .botao-confirmCad{
    color: white;
    background-color: rgba(232,146,131,1);
    width: 5.5vw;
    height: 5vh;
    border: none;
    border-radius: 5vw;
    padding: 1vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    font-size: 1vw;
    font-weight: 700;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: auto;
}
.container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .botao-confirmCad:hover{
    color: #FCD9B9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
    background-color: #fd6b5e;
    transition: .3s;
    cursor: pointer;
    transform: translateY(-1vh);
}
@media only screen and (max-width: 768px) {
    .container-CAD .corpo-CAD .card-CAD{
        width:80vw;
        min-height: 80vh;
        height: 100%;
        border-radius: 3vw;
        margin: 2% 0 0 0;
    }
    .container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD h1{
        font-size: 6vw;
        margin: auto;
    }
    .container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD{
        padding:5%;

    }
    .container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .texto-input-CAD {
        font-size: 3.5vw;
        margin-right: auto;
    }
    .container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .sub-titulo-CAD{
        font-size: 3vw;
        text-align: center;
    }
    .container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD span .icones{
        height:1.6vh;
        width:1.6vh;
    }
    .container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .botao-confirmCad{
        font-size: 3vw;
        width: 20vw;
        height: 7vh;
        margin-top: 15%;
    }
    .container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .input-codigo-CAD{
        font-size: 3.5vw;
        width: 50vw;
        height: 5vh;
        border-radius: 2vw;
        text-indent: 2vw;
        margin-top: 5%;
        
    }
    .container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .input-data-CAD{
        font-size: 3.5vw;
        width: 25vw;
        height: 5vh;
        border-radius: 2vw;
        text-indent: 2vw;
        margin-top: 5%;
    }
    .container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .input-cpf-CAD{
        font-size: 3.5vw;
        width: 25vw;
        height: 5vh;
        border-radius: 2vw;
        text-indent: 2vw;
        margin-top: 5%;
    }
    .container-CAD .corpo-CAD .card-CAD .conteudo-card-CAD .form-CAD .container-ultimos-inputs{
        margin: auto;
    }
}
