.container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container .corpo-pagina-pedido{
    width: 100vw;
    height: 100%;
    background: rgb(230,170,146);
    background: linear-gradient(180deg, rgb(252,217,185) 60%, rgba(232,146,131,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .corpo-pagina-pedido .imagem{
    width: 100vw;
    min-height: 22vw;
    background-size: cover;
    background-position: center;
    background-image: url('../../../img/img_paginapedidos.jpg');
}

.container .corpo-pagina-pedido section{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.container .corpo-pagina-pedido section h1{
    color:#E89283;
    font-size: 5vw;
    margin-top: 5%;
}

.container .corpo-pagina-pedido section .botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:12%;
}

.container .corpo-pagina-pedido section .botoes button{
    font-size: 3.5vh;
    min-width:300px;
    width:25vw;
    height:12vh;
    border:none;
    border-radius: 20px;
    outline: none;
    color:#ff6e60;
    margin-top: 3vh;
    padding: 1vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    font-weight: 700;
}

.container .corpo-pagina-pedido section .botoes button:hover{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: .3s;
    cursor: pointer;
    transform: translateY(-1vh);
}

@media only screen and (max-width: 768px) {
    .container .corpo-pagina-pedido .imagem{
        min-height: 20vh;
    }
    .container .corpo-pagina-pedido section h1{
        font-size: 5.5vh;
    }
    .container .corpo-pagina-pedido section .botoes button{
        width:12vw;
        height:20vh;
    }
  }